#modal_content {
    position: fixed;
    top: 0 !important;
    left: 0 !important;
    width: 100%;
    height: 100% !important;
    z-index: 1000000;
  /* Firefox */

    &::-webkit-scrollbar {
        display: none;
      }

    #modal_content_wrapper {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: $white;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        padding: 0;
        overflow: scroll;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */


        &::-webkit-scrollbar {
            display: none;
        }

        &:after {
            content: '';
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.7);
            z-index: 1;
        }

        .content-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            max-width: 711px;
            background: $white;
            padding: 40px 40px 20px;
            z-index: 2;

            @include mq(large, 'max') {
                max-width: 90%;
                justify-content: center;
                text-align: center;

                .heading-3 {
                    padding-bottom: 20px;
                }
            }

            input[type="checkbox"] {
                margin-right: 5px;
            }

            .heading-3 {
                text-transform: uppercase;
                margin-top: 40px;
            }

            .agree, .agree a {
                @include gotham_light;
                font-size: 16px;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: #707070;

                a {
                    text-decoration: underline;
                }
            }

            nav {
                ul {
                    display: flex;

                    li {
                        list-style-type: none;
                        margin: 20px;

                        .btn-default {
                            background: $brown !important;
                            min-width: 80px !important;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        
    }

    .regret-text {
        padding-top: 20px;
        color: #707070;
        line-height: 1.7 !important;
        text-align: center;

        @include mq(large, 'max') {
            font-size: 12px !important;
            text-align: center;
        }
    }

    .agegate-copyright {
        position: fixed;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        color: $white;
        z-index: 3;
        text-transform: uppercase;

        @include mq(large, 'max') {
            font-size: 12px !important;
            text-align: center;
        }
    }

    .title {
        color: $white;
    }

    .date-fields {
        display: flex;
    }

    .logo-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include mq(medium, 'max') {
           padding: 0 35px;
        }

        svg {
            width: 550px;
            margin: 40px 0;

            @include mq(medium, 'max') {
                width: 100%;
            }

            #agree {
                &.clicked {
                    rect {
                        fill: $red !important;
                    }
                }
            }

            #agree,
            #yes,
            #no,
            #terms,
            #privacy {
                cursor: pointer;
            }

        }
    }
}