// Set all color values
$white: #ffffff;
$black: #0A0405;
$brown: #BF8C42;
$grey-dark: #353435;
$grey-darker: #2E2E2E;
$grey: #A4A4A4;
$grey-light: #DCDDDE;
$red: #EA212D;
$yellow: #FDCD34;
$purple: #6A2E76;
$green: #67BC45;
$maroon: #65113A;

.text-brown {
    color: $brown;
}

.text-black{
    color: $black;
}

.text-red {
    color: $red;
}